<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flatchat.app">

<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.flatchat.app" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/new_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flatchat_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">

        <activity android:name="onboarding.OnBoarding" />
        <activity
            android:name="com.flatchat.app.LandingPage"
            android:theme="@style/SplashTheme"/>
        <activity android:name="com.flatchat.app.ShowAllReviews" />
        <activity android:name="com.flatchat.app.Settings" />
        <activity android:name="com.flatchat.app.ChangePassword" />
        <activity
            android:name="com.flatchat.app.SplashScreen"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.flatchat.app.ShowAllFlats" />
        <activity android:name="com.flatchat.app.Search" />
        <activity
            android:name="com.flatchat.app.CreateAccount"
            android:theme="@style/MaterialTheme" />
        <activity android:name="com.flatchat.app.WriteReview" />
        <activity android:name="com.flatchat.app.EditReview" />
        <activity
            android:name="com.flatchat.app.SignIn"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name="com.flatchat.app.HomeScreen"
            android:theme="@style/SplashTheme"/>
        <activity android:name="com.flatchat.app.ViewReviews" />
        <activity android:name="com.flatchat.app.FlatScreen" />
        <activity android:name="com.flatchat.app.DeleteAccount" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>