<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flattingreview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".LandingPage"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".ShowAllReviews" /> <!-- function activities -->
        <activity android:name=".Settings" />
        <activity android:name=".ChangePassword" /> <!-- Set the splash screen as the first screen when user installs the application -->
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- The remaining activities -->
        <activity android:name=".ShowAllFlats" />
        <activity android:name=".Search" />
        <activity android:name=".CreateFlat" />
        <activity
            android:name=".CreateAccount"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".WriteReview" />
        <activity
            android:name=".SignIn"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".HomeScreen"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".ViewReviews" />
        <activity android:name=".FlatScreen" />
        <activity android:name=".DeleteAccount" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>